
.calendarbox {
  border: 2px solid blue;
  padding: 2em;
}
.calheader {
  border: 2px solid black;
  height: 70px;
  display: flex;
  align-items: center;
}

.toolbar {
  // border: 2px solid red;
  display: flex;
  justify-content: space-between;
  
}
.columnheader {
  position: relative;
  border: 3px solid red;
  width: 200px;
  height: 200px;
}