.rbc-header {
    // background: lightblue;
    padding: 10px 0 !important;
}

// tool bar
.rbc-toolbar {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 0 !important;

    // group header #1 > today btn, back/next btn
    .rbc-btn-group:nth-child(1) {

        // border: 2px solid red;

        button:nth-child(1){
            border: 2px solid black;
            font-size: 1.3rem;
            color: black;
            border-radius: 10px !important;
            margin: 0 10px;
        }
        button:nth-child(2){
            font-size: .6rem;
            color: black;
        }
        button:nth-child(3){
            font-size: .6rem;
            color: black;
        }
    }
}

// month view
.rbc-month-view {
    width: 80% !important;
    align-self: flex-end !important;
    .rbc-month-header {

        .rbc-header {
            border-left: 2px solid black;
        }
    }
    .rbc-month-row {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-left: 2px solid black;


        .rbc-day-bg {
            border-right: 2px solid black; 
        }
        .rbc-day-bg:nth-child(7) {
            border-right: none;

        }

    }
   
}

// time view
.rbc-time-view {
    width: 80% !important;
    align-self: flex-end !important;
}
// 
